$themes: (
mytheme1: theme-light,
mytheme2: theme-dark
);
@function setStyle($map, $object, $style) {
@if map-has-key($map, $object) {
@return map-get(map-get($map, $object), $style);
}
@warn "The key ´#{$object} is not present in the map...";
@return null;
}
$config: (
mytheme1: (
background: #F08080,
color: #000
),
mytheme2: (
background: #808000,
color: #fff
)
);
.mapbutton {
@each $key, $value in $themes {
@if map-has-key($config, $key) {
.#{$value} & {
background: setStyle($config, $key, background);
color: setStyle($config, $key, color);
}
} @else {
@warn "The key ´#{$key} is not defined in the $config map...´"
}
}
}
.mapbutton {
display: inline-block;
text-decoration: none;
padding: 2em 3em;
border-radius: .5em;
margin: .8em;
}